.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 13);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

p a {
    
    color: palevioletred;
    
}

code {
    
    color: palevioletred;
    
}

#web-developer-penetration-tester {
    
    font-weight:100;
    
}

.wrapper {
    
    display:flex;
  
  
    
}

.typing-demo h2 {
    
    color: palevioletred;
  border-right: .15em solid #fff; 
  white-space:inherit ; 
  margin: 0 auto; */
  padding-right:00px;
  letter-spacing: .15em;
  animation: blink .5s step-end           infinite alternate;;
}

.footer span {
    
    color: palevioletred;
    
}

\